[submodule "fione"]
	path = fione
	url = https://github.com/liriliri/fione.git
[submodule "eruda"]
	path = eruda
	url = ssh://git@github.com/liriliri/eruda-plugin
[submodule "erudatalabs"]
	path = erudatalabs
	url = ssh://git@github.com/erudatalabs/erudatalabs
[submodule "eruda-memory"]
	path = eruda-memory
	url = ssh://git@github.com/liriliri/eruda-memory
[submodule "eruda-code"]
	path = eruda-code
	url = ssh://git@github.com/liriliri/eruda-code
[submodule "eruda-orientation"]
	path = eruda-orientation
	url = ssh://git@github.com/liriliri/eruda-orientation
[submodule "vite-plugin-eruda"]
	path = vite-plugin-eruda
	url = ssh://git@github.com/wuxiuran/vite-plugin-eruda
[submodule "vue-cli-plugin-eruda"]
	path = vue-cli-plugin-eruda
	url = ssh://git@github.com/XiongAmao/vue-cli-plugin-eruda
[submodule "outline-client555"]
	path = outline-client555
	url = git@github.com:JeffroMF/outline-client555.git
[submodule "laverna"]
	path = laverna
	url = git@github.com:JeffroMF/laverna.git
[submodule "eruda-fps"]
	path = eruda-fps
	url = ssh://git@github.com/liriliri/eruda-fps
[submodule "eruda-vue"]
	path = eruda-vue
	url = ssh://git@github.com/liriliri/eruda-vue
[submodule "eruda-publish"]
	path = eruda-publish
	url = ssh://git@github.com/twinspapa/eruda-publish
[submodule "node-ios-device"]
	path = node-ios-device
	url = ssh://git@github.com/tidev/node-ios-device
[submodule "eruda-webpack-plugin"]
	path = eruda-webpack-plugin
	url = ssh://git@github.com/huruji/eruda-webpack-plugin
[submodule "erudait"]
	path = erudait
	url = ssh://git@github.com/Erudait/erudait
[submodule "plugin"]
	path = plugin
	url = ssh://git@github.com/liriliri/eruda-plugin
[submodule "eruda-worker"]
	path = eruda-worker
	url = ssh://git@github.com/liriliri/eruda-worker
[submodule "eruda-loader"]
	path = eruda-loader
	url = ssh://git@github.com/Spomni/eruda-loader
[submodule "eruda-outline-plugin"]
	path = eruda-outline-plugin
	url = ssh://git@github.com/pomelo-chuan/eruda-outline-plugin
[submodule "eruda-timing"]
	path = eruda-timing
	url = ssh://git@github.com/liriliri/eruda-timing
[submodule "Eruda-78"]
	path = Eruda-78
	url = ssh://git@github.com/Eruda-78/Eruda-78
[submodule "yii2-eruda"]
	path = yii2-eruda
	url = ssh://git@github.com/huijiewei/yii2-eruda
[submodule "eruda-features"]
	path = eruda-features
	url = ssh://git@github.com/liriliri/eruda-features
[submodule "svrx-plugin-eruda"]
	path = svrx-plugin-eruda
	url = ssh://git@github.com/svrxjs/svrx-plugin-eruda
[submodule "eruda-app"]
	path = eruda-app
	url = ssh://git@github.com/tuzi3040/eruda-app
